.form-group-sm {
    input {
        &.form-control {
            height:40px;
            border-radius: 0px;
        }
    }
}
/*
.input-container {
  ::-webkit-input-placeholder { // Edge
    color: getColor(text, text3);
  }
  :-ms-input-placeholder { // Internet Explorer 10-11
    color: getColor(text, text3);
  }
  ::placeholder {
    color: getColor(text, text3);
  }
}

input {
  height: 40px;
}
*/
