//=========================
// ng-material radio-button
//=========================
.radio-btn-new {
  .mat-radio-outer-circle {
    // 19px / 20px(default radio container size) = 0.95
    transform: scale(0.95);
    border-width: 1px;
    border-style: solid;
    border-color: getColor(text, text3);
  }
  .mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: getColor(interactive, hover-link) !important;
    }
    .mat-radio-inner-circle {
      // 15px / 20px to make 15px center
      transform: scale(0.75);
      background-color: getColor(interactive, hover-link);
    }
    .mat-radio-ripple {
      // remove ripple transition effect
      width: 0px !important;
      height: 0px !important;
      background-color: getColor(interactive, hover-link) !important;
      .mat-ripple-element {
        background-color: getColor(interactive, hover-link) !important;
      }
    }
    .mat-radio-persistent-ripple {
      background-color: getColor(interactive, hover-link) !important;
    }
  }
  .mat-radio-button {
    font-family: "SiemensSans" !important;
    .mat-radio-ripple {
      // remove ripple transition effect
      width: 0px !important;
      height: 0px !important;
      .mat-ripple-element {
        background-color: getColor(interactive, hover-link) !important;
      }
    }
    .mat-radio-label-content {
      color: getColor(text, text1) !important;
      &:hover {
        color: getColor(interactive, hover-link) !important;
      }
    }
  }
  .mat-radio-disabled {
    .mat-radio-outer-circle {
      background-color: getColor(stone, 10);
      border-color: getColor(stone, 7);
    }

    &.mat-radio-checked {
      .mat-radio-outer-circle {
        border-color: getColor(stone, 7) !important;
      }
      .mat-radio-inner-circle {
        background-color: getColor(stone, 5) !important;
      }
    }
  }
}
.mat-radio-inner-circle {
  background-color: getColor(interactive, hover-link) !important;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  .mat-radio-label {
    width: 280px !important;
    display: flex;
    justify-content: center;
    margin-right: 25px;
    font-weight: 500;
  }
}
.styleguide {
  .mat-radio-label {
    margin-right: 20px;
  }
}
