.mat-tab-group {
  font-family: "SiemensSans" !important;
  .mat-tab-label-container {
   // overflow: visible;
    .mat-ink-bar {
      background-color: getColor(blue, 2);
      bottom: -2px;
      height: 2px;
    }
  }
}

.mat-tab-header {
  overflow: visible !important;
  border-bottom: 2px solid getColor(primary-styleguide, stone-light-35);
}

.mat-tab-labels {
  .mat-tab-label {
    opacity: 1;
    font-family: "SiemensSans";
    font-weight: normal;
    font-size: 18px;
    width: 50%;
    color: getColor(text, text3);
    &:focus {
      background-color: inherit !important;
    }
    .mat-ripple-element {
      display: none;
    }
    &.mat-tab-label-active {
      color: getColor(blue, 2);
    }
  }
}

.tabSection {
  background-color: getColor(text, white);
  padding-top: 30px;
  font-size: 18px;
  color: getColor(text, text2);
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  font-family: 'SiemensSans'; // border-right: 1px solid #becdd7;
  // border-left: 1px solid #becdd7;
  z-index: 1000;
  position: fixed;
  width: 94%;
  // height: 100px;
  height: 116px;
  top: 62px;
  width: 100%;
  @media (max-width: 650px) {
      height: 132px;
  }
  .siecosmos {
    padding-top:8px !important;
  }
  nav {
      display: flex;
      justify-content: center;
  }
  .mat-tab-nav-bar {
    border-bottom: 0px;
  }
  .mat-tab-link-container {
    @media (min-width: 1366px) {
      width: 1350px;
      max-width: 1350px;
    }
    @media (min-width: 1921px) {
      width: 1350px;
      max-width: 1350px;
    }
    @media (min-width: 2561px) {
      width: 1800px;
      max-width: 1800px;
    }
  }
  .mat-tab-links {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 1800px;
    text-align: center;
    overflow: auto;
    @media (min-width: 1366px) {
      width: 1350px;
      max-width: 1350px;
    }
    @media (min-width: 1921px) {
      width: 1350px;
      max-width: 1350px;
    }
    @media (min-width: 2561px) {
      width: 1800px;
      max-width: 1800px;
    }
    .mat-tab-link {
      flex: 1;
      display: flex;
      justify-content: safe;
      text-align: center; // height: 67px;
      height: 87px;
      text-decoration: none;
      color: getColor(text, text2);
      border-bottom: 4px solid getColor(primary-styleguide, stone-light-35);
      opacity: 1;
      box-shadow: none;
      flex-direction: column;
      @media (max-width: 850px) {
        min-width: 100px;
      }
      @media (max-width: 630px) {
        min-width: 100px;
        white-space: normal;
        height: 106px;
      }
      span {
        padding-bottom: 10px;
        font-size: 22px;
        color: getColor(primary-styleguide, stone-light);
        font-family: "simpl-icons-newton";
        padding-top: 3px;
        &.cosmos-icon_profile {
          font-size: 23px;
          font-family: "simpl-icons-newton";
        }
        &.cosmos-icon_bmd {
          font-size: 19px;
        }
        &.cosmos-icon_all {
          padding-bottom: 5px;
        }
      }
      div {
        &.count {
          margin-bottom: 13px;
        }
        &.bmd {
          // margin-bottom: 10px;
        }
      }
      &:hover {
        color: getColor(interactive, hover-link);
        border-bottom: 4px solid getColor(interactive, hover-link);
        span {
          color: getColor(interactive, hover-link);
        }
      }
      &.mat-tab-label-active {
        color: getColor(interactive, hover-link);
        border-bottom: 4px solid getColor(interactive, hover-link);
        span {
          color: getColor(interactive, hover-link);
        }
      }
    }
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: getColor(interactive, hover-link);
    visibility: hidden !important;
  }
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: transparent;
}

.settings {
  .mat-tab-group {
    font-family: "SiemensSans" !important;
    .mat-tab-label-container {
      overflow: visible;
      .mat-ink-bar {
        background-color: getColor(blue, 2);
        bottom: -2px;
        height: 2px;
      }
    }
    .mat-tab-header {
      border-color: getColor(primary-styleguide, stone-light);
    }
    .mat-tab-label {
      max-width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 0px;
      height: 42px;
      .mat-tab-label-content {
        color: getColor(text, text2);
      }
      &.mat-tab-label-active {
        // border-bottom: 1px solid getColor(interactive, hover-link);
        .mat-tab-label-content {
          color: getColor(interactive, hover-link);
        }
      }
    }
  }
}

.code-container {
  .mat-tab-group {
    .mat-tab-header {
      margin-bottom: 10px;
    }
    .mat-tab-label {
      font-size: 16px !important;
      height: 20px !important;
    }
  }
}

/* it is for the styleguide tab content */
.api {
  width: 80% !important;
  td{
    padding: 4px;
  }
}
code {
  background-color: white;
  color: black;
  >div {
    padding: 4px;
  }
}
