.error-message {
    // position: absolute;
    position: relative;
    label {
        background-color: getColor(interactive, error-red);
        color: white;
        padding: 4px;
        margin-left: 15px;
        float: left;
        padding-bottom: 2px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.warning-label {
    color: getColor(interactive, error-red) !important;
    border-color: getColor(interactive, error-red) !important;
    * {
        color: getColor(interactive, error-red) !important;
        border-color: getColor(interactive, error-red) !important;
    }
}
