.mat-tooltip {
    overflow: visible !important;
}
.soc-tooltip {
  // position: relative;
  // top: -10px;
  padding: 3px 8px;
  color: getColor(text, white);
  text-align: center;
  background-color: getColor(primary-styleguide, stone-dark);
  border-radius: 0 !important;
  font-size: 12px;
  line-height: 16px;
  font-family: 'SiemensSans';
  &::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    background: getColor(primary-styleguide, stone-dark);
    }

  &.above {
    &::before {
    bottom: -5px;
    left: calc(50% - 5px);
    }
  }
  &.below {
    &::before {
      top: -5px;
      left: calc(50% - 5px);
    }
  }
  &.left {
    &::before {
      right: -5px;
      top: calc(50% - 5px);
    }
  }
  &.right {
    &::before {
      left: -5px;
      top: calc(50% - 5px);
    }
  }


}

.orgmanager-tooltip {
    max-width: inherit !important;
    margin: 0;
    position: relative;
    z-index: 99;
    top: 15px;
}

.jobTitle-tooltip,
.filters-tooltip {
    position: relative;
    text-align: left;
    padding:  10px 12px 10px 12px !important;
}
