@import "init.scss";
@import "./components/_fonts.scss";
@import "./components/_icons.scss";
@import "./components/_forms.scss";

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./themes/cosmos";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orgchart-print";
@import "./themes/orgchart-download";
@import "./themes/profile-print";

@import "./modules/_mat-tab";
@import "./modules/_chips";
@import "./modules/_dialogs";
@import "./modules/_filters";
@import "./modules/_mat-slide";
@import "./modules/_soc-input";
@import "./modules/_soc-checkbox";
@import "./modules/_soc-select";
@import "./modules/_tooltips";
@import "./modules/_soc-textarea";
@import "./modules/_soc-errormessages";
@import "./modules/radio-button";

@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

html {
    font-size: 100%;
}

* {
    outline-style: none !important;
}

.overlay {
    opacity: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.sticky {
    width: 94% !important;
    z-index: 999;
    border-top: 1px solid getColor(blue, 0);
}

body {
    position: relative;
    height: 100%;
    width: 100%;

    &.search {
        background-color: getColor(background, standard);
        overflow: visible;
    }

    &.portfolioUpload {
        background-color: getColor(background, standard);
        overflow: visible;
    }

    .cosmos-background-image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../images/background-lp-16.9.jpg");
        background-repeat: no-repeat;
        background-position: left center;

        @media #{getDevice(small)},
        #{getDevice(small-l)} {
            background-image: url("../images/background-lp-small.png");
        }

        @media #{getDevice(medium)},
        #{getDevice(medium-l)} {
            background-image: url("../images/background-lp-medium.png");
        }
    }

    .orgchart-background-image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .dropdown-menu {
        box-shadow: none;
    }
}

main {
    margin: 0;
    min-height: calc(100vh - 365px);
}

.ps {
    // font-weight: normal; // old
    font-weight: bold;
}

.landing-page-root {
    height: 100vh;
    /*display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;

  .cosmos-footer {
     // bottom: auto;
  }*/
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.basic-info {
    .disabled {
        color: getColor(primary-styleguide, stone-light-35) !important;

        * {
            color: getColor(primary-styleguide, stone-light-35) !important;
        }

        &:hover {
            color: getColor(primary-styleguide, stone-light-35) !important;
        }
    }
}

h1 {
    margin-top: 13px;
    margin-bottom: 15px;
}

.section-row {
    margin-bottom: 15px;
}

.container:not(.dialog) {
    width: 92.5%;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 94%;
    max-width: 1800px;

    &.full-width {
        width: 100%;
        max-width: 100%;
        margin: 0 -15px;
    }

    &.full-width-orgchart {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h3 {
        font-size: 30px;
        line-height: 36px;
    }

    h4 {
        font-size: 24px;
        line-height: 30px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }

    .container {
        width: 100%;
        max-width: 710px;
    }
}

@media (max-width: 1023px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 16px;
    }

    .a2.inverted,
    .a3.inverted,
    .p3.inverted {
        font-size: 18px;
        line-height: 24px;
    }
}

.soc-snackbar {
    background-color: getColor(secondary-styleguide, yellow-light);
    margin: 0px !important;
    border-radius: 0px !important;
    color: white !important;

    .mat-simple-snackbar {
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1100px;
    }

    main {
        margin: 0 0 160px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1200px;
    }

    .container-fluid {
        max-width: 1350px;
    }
}

@media (min-width: 1921px) {
    .container {
        max-width: 1350px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }

    .container-fluid {
        max-width: 1350px;
    }
}

@media (min-width: 2561px) {
    .container {
        max-width: 1800px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }

    .container-fluid {
        max-width: 1800px;
    }
}

@media (max-width: 599px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    .a3,
    .p3 {
        display: block;
        padding-top: 5px;
    }
}

.side-bar {
    .mat-ink-bar {
        height: 0px !important;
    }
}

.new {
    position: absolute;
    right: 0; // top: 10px;
    // text-transform: uppercase;
    background: getColor(secondary-styleguide, yellow-light);
    padding: 0 5px;
    font-weight: 500;
    color: getColor(text, white);
}

#list-view {
    .mat-expansion-panel-content {
        font-family: "SiemensSans";
        color: getColor(text, text1);
    }

    .mat-expansion-panel-body {
        padding: 0;
    }

    .mat-expansion-indicator {
        &::after {
            color: map-get(map-get(map-get(map-get($listView, table), table-row), first-row), arrowColor);
            margin-top: -5px;
        }
    }

    .row-header {
        &:hover {
            .mat-expansion-indicator {
                &::after {
                    color: getColor(text, white);
                }
            }
        }
    }
}

app-shared-breadcrumb.dark {
    .breadcrumb {
        & li a {
            color: getColor(text, text3) !important;
        }
    }
}

@for $zoomindex from -5 through 10 {
    .zoom-#{$zoomindex} {
        zoom: 1 + ($zoomindex / 10);
        -moz-transform: scale(1 + ($zoomindex / 10));
        -moz-transform-origin: 0 0;
    }
}

.search-result.mat-option {
    padding: 0 10px 0 50px !important;

    span {
        &.person {
            color: getColor(interactive, standard-link);
            font-size: 18px;

            &:before {
                top: 7px;
            }
        }

        &.organization {
            color: getColor(interactive, standard-link);
        }

        &.legal-entity {
            color: getColor(interactive, standard-link);
            font-size: 18px;

            &:before {
                top: 7px;
            }
        }

        &:before {
            position: absolute;
            left: 12px;
            top: 10px;
        }

        label {
            display: none;
        }
    }
}

.matches-section {
    b {
        font-weight: 500;
        color: getColor(secondary-styleguide, blue-light);
    }
}

.icon-circle-minus,
.icon-circle-plus {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 12px;
    color: getColor(text, white);

    &.jobtag {
        background: getColor(secondary-styleguide, green-light);
    }

    i {
        position: relative;

        &.newton-plus {
            left: 1px;
        }

        &.newton-minus {
            left: 2px;
        }
    }
}

perfect-scrollbar.disable .ps__rail-y {
    display: none !important;
}

.is-not-mac {
  .soc-scrollbar {
      &::-webkit-scrollbar {
          width: map-get($scrollbar, width);
      }
      &::-webkit-scrollbar-track {
          background-color: #dce1e6;
          cursor: move !important;
      }
      &::-webkit-scrollbar-thumb {
          background-color: #7d8791;
      }
      &.dark {
          &::-webkit-scrollbar-track {
              background-color: #7d8791;
          }
          &::-webkit-scrollbar-thumb {
              background-color: getColor(secondary-styleguide, blue-dark);
          }
      }
  }
  .soc-scrollbar-padding-container {
      padding-right: map-get($scrollbar, paddingRight);

      .soc-scrollbar {
          padding-right: map-get($scrollbar, paddingLeft);

          /* Workaround as scrollbar padding for top and bottom */
          &::-webkit-scrollbar-button {
              height: map-get($scrollbar, paddingTopBottom);
              width: map-get($scrollbar, width);
              background-color: transparent;
          }
      }
  }
}

.loading-dots {
    &::after {
        content: " .";
        animation: dots 1.5s steps(5, end) infinite;
    }
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
    }
}

body.settings {
    background: getColor(background, standard);

    .breadcrumb-row {
        .breadcrumb {
            &.inverted {
                >li {
                    >a {
                        color: getColor(text, text2);
                    }
                }
            }
        }
    }
}

.headline {
    .header {
        margin-top: 30px;
        margin-bottom: 30px;

        color: getColor(text, white);

        // margin-left: 30px;
        .col-lg-12 {
            // padding-left: 0px;
            padding-right: 0px;
        }

        @media #{getDevice(small)},
        #{getDevice(small-l)} {
            padding-right: 15px;
        }

        h1 {
            margin-left: 5%;
            margin-right: 5%;
            color: getColor(text, white);
        }

        h2 {
            color: getColor(text, white);
            margin: 0 0 0 0px;
        }

        p {
            color: getColor(text, white);
            margin: 10px 0 0 0px;
        }
    }
}

.data-privacy-title {
    font-size: 18px;
}

.disclaimer-area {
    background-color: getColor(text, white);
    padding: 20px;
    max-height: 225px;
    overflow-y: scroll;
    margin-top: 8px;
    margin-bottom: 26px;
}
