.theme-dark {
  background: getColor(secondary-styleguide, blue-dark);

  .cosmos-background-image {
    display: none;
  }

  .orgchart-footnote {
    a {
      color: getColor(text, white);
      border-bottom: 1px solid getColor(text, white);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid getColor(interactive, active);
        color: getColor(interactive, active);
      }
    }
  }

  ul.breadcrumbs > li:hover a,
  ul.breadcrumbs > li:hover:not(:last-child) span,
  ul.breadcrumbs > li:hover:not(:last-child)::after {
    color: getColor(interactive, active) !important;
  }

  .org-additionals.active {
    background-color: getColor(blue, 7);

    .employees-box a {

      .employees-count,
      i {
        color: getColor(blue, 2);
      }

      &:hover {

        .employees-count,
        i {
          color: getColor(blue, 11);
        }
      }
    }

  }

  .toolbar-row {
    .zoom {

      &:not(.open):hover,
      .active {
        .orgchart-toolbar-btn-group {

          span,
          button:hover {
            color: getColor(blue, 11);
          }
        }
      }

      &.open {
        background-color: getColor(secondary-styleguide, blue-light);

        a,
        span,
        a button {
          color: getColor(blue, 2);
        }

        a:hover button:hover {
          color: getColor(interactive, standard-link);
        }

        .mat-accent .mat-slider-track-fill,
        .mat-accent .mat-slider-thumb {
          background-color: getColor(blue, 2);
        }

      }
    }
  }

  ul.employees-dropdown {
    background-color: getColor(blue, 7);

    li {
      color: getColor(text, white);

      &:first-child {
        border-top: 1px solid getColor(interactive, standard-link);
      }

      &:not(:last-child) {
        border-bottom: 1px solid getColor(interactive, standard-link);
      }

      .userimage {
        // border: 2px solid getColor(blue, 11);
        background: getColor(text, white);
      }

      &:hover {
        background-color: getColor(blue, 2);
        color: getColor(text, white);
      }
    }
  }

  ul.orgchart .org-item {

    &.active,
    &:hover {
      background-color: getColor(blue, 2);
    }
  }
}
