@page {
  size: A4 landscape;
  margin: 0;
}

thead.report-header {
  display: table-header-group;
}

tfoot.report-footer {
  display: table-footer-group;
}

.theme-print {
  width: 1110px;
  display: table;
  font-family: Arial !important;

  main {
    margin-bottom: 0;
  }

  .hide-on-print {
    display: none !important;
  }


  .container-fluid {
    width: 100%;
    padding: 20px 30px;
  }

  // Business Partner
  .bp-container {
    .bp-title {
      color: map-get($orgchart-print, secondaryColor);
    }

    .bp-box {
      color: map-get($orgchart-print, mainColor);
      border: 1px solid map-get($orgchart-print, lineColor);
      page-break-inside: avoid;
      page-break-before: auto;

      .bp-orgname {
        border-bottom: 1px solid map-get($orgchart-print, lineColor) !important;
        page-break-inside: avoid;
        page-break-before: auto;
      }

      .bp-head {
        page-break-inside: avoid;
        page-break-before: auto;

        a {
          color: map-get($orgchart-print, mainColor);
        }
      }
    }
  }

  // Special Responsibilities
  .sr-container {
    .sr-title {
      color: map-get($orgchart-print, secondaryColor);
    }

    ul.sr-list {
      border: 1px solid map-get($orgchart-print, lineColor);

      .sr-listitem:not(:last-child) {
        border-bottom: 1px solid map-get($orgchart-print, lineColor) !important;
      }

      .sr-head a {
        color: map-get($orgchart-print, mainColor);
      }
    }
  }

  // Reporting Lines
  .rl-container {

    padding-bottom: 0px;

    .rl-title {
      color: map-get($orgchart-print, secondaryColor);
    }

    ul.rl-list {
      color: map-get($orgchart-print, mainColor);

    }
  }

}
