@font-face {
    font-family: 'siecosmos';
    src: url('../fonts/siecosmos.ttf?cnkplw') format('truetype'), url('../fonts/siecosmos.woff?cnkplw') format('woff'), url('../fonts/siecosmos.svg?cnkplw#siecosmos') format('svg');
    font-weight: normal;
    font-style: normal;
}