@import '../init.scss';

[class^="cosmos-icon_"],
[class*=" cosmos-icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'siecosmos' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cosmos-icon_bmd:before {
    content: "\e900";
}

.cosmos-icon_home:before {
    content: "\e901";
}

.cosmos-icon_networkview:before {
    content: "\e902";
}

.cosmos-icon_orgmanager:before {
    content: "\e903";
}

.cosmos-icon_projectview:before {
    content: "\e904";
}

.cosmos-icon_news_golive:before {
    content: "\e905";
}

.cosmos-icon_news_feature:before {
    content: "\e906";
}

.cosmos-icon_news_update:before {
    content: "\e907";
}

.cosmos-icon_automation:before {
    content: "\e908";
}

.cosmos-icon_digitalization:before {
    content: "\e909";
}

.cosmos-icon_electricity:before {
    content: "\e90a";
}

.cosmos-icon_financial_services:before {
    content: "\e90b";
}

.cosmos-icon_srs:before {
    content: "\e90c";
}

.cosmos-icon_srs2:before {
    content: "\e90d";
}

.cosmos-icon_profile:before {
    content: "\e90e";
}

.cosmos-icon_header_news:before {
    content: "\e90f";
}

.cosmos-icon_circuit_neutral:before {
    content: "\e910";
}

.cosmos-icon_profile-flyout:before {
    content: "\e911";
}

.cosmos-icon_ssn:before {
    content: "\e912";
}

.cosmos-icon_clock:before {
    content: "\e913";
}

.cosmos-icon_view_scv:before {
    content: "\e914";
}

.cosmos-icon_view_scv_circle:before {
    content: "\e915";
}

.cosmos-icon_companyInfo:before {
    content: "\e916";
}

.cosmos-icon_plus:before {
    content: "\e917";
}

.cosmos-icon_star:before {
    content: "\e918";
}

.cosmos-icon_show_hide_all:before {
    content: "\e919";
}

.cosmos-icon_error_warning:before {
    content: "\e91a";
}

.cosmos-icon_list:before {
    content: "\e91b";
}

.cosmos-icon_all:before {
    content: "\e91c";
}

.cosmos-icon_settings:before {
    content: "\e91d";
}

.cosmos-icon_job-tag:before {
    content: "\e91e";
}

.cosmos-icon_clear_all_filters:before {
    content: "\e91f";
}

.cosmos-icon_all_01:before {
    content: "\e920";
}

.cosmos-icon_education:before {
    content: "\e921";
}

.cosmos-icon_filter:before {
    content: "\e922";
}

.cosmos-icon_jobs:before {
    content: "\e924";
}

.cosmos-icon_ssn2:before {
    content: "\e925";
}

.cosmos-icon_vcard:before {
    content: "\e923";
}

.cosmos-icon_gender_female:before {
    content: "\e926";
}

.cosmos-icon_gender_male:before {
    content: "\e927";
}

.cosmos-icon_gender_neutral:before {
    content: "\e928";
}

.cosmos-icon_Beta .path1:before {
    content: "\e929";
    color: getColor(interactive, default-main-conversion);
}

.cosmos-icon_Beta .path2:before {
    content: "\e92a";
    color: getColor(text, white);
    margin-left: -2.4833984375em;
}

.cosmos-icon_telefon:before {
    content: "\e92b";
}

.cosmos-icon_fax:before {
    content: "\e92c";
}

.cosmos-icon_mobilephone:before {
    content: "\e92d";
}

.cosmos-icon_matrix_platzhalter:before {
    content: "\e92e";
}

.cosmos-icon_location-pin:before {
    content: "\e92f";
}

.cosmos-icon_hide:before {
    content: "\e930";
}

.cosmos-icon_show:before {
    content: "\e931";
}

.cosmos-icon_matrix_blank:before {
    content: "\e932";
}

.cosmos-icon_collaboration:before {
    content: "\e933";
}

.cosmos-icon_yammer:before {
    content: "\e934";
}

