.theme-cosmos {
  background-color: #01264E;

  .orgchart-footnote {
    a {
      color: getColor(text, white);
      border-bottom: 1px solid getColor(text, white);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid getColor(interactive, active);
        color: getColor(interactive, active);
      }
    }
  }

  ul.breadcrumbs > li:hover a,
  ul.breadcrumbs > li:hover:not(:last-child) span,
  ul.breadcrumbs > li:hover:not(:last-child)::after {
    color: getColor(interactive, active) !important;
  }

  .employees-dropdown-list {
    .employees-dropdown-list-item {
      .userimage {
        // border: 2px solid getColor(secondary-styleguide, blue-light);
        background: getColor(text, white);
      }
    }
  }

  .breadcrumbs {
    li {
      color: map-deep-get($orgchart, breadcrumbs, color);

      >a {
        color: map-deep-get($orgchart, breadcrumbs, color);
      }

      &:last-child {
        color: map-deep-get($orgchart, breadcrumbs, colorActive);
      }
    }
  }

  .toolbar-row {

    .zoom {

      &:not(.open):hover,
      .active {
        .orgchart-toolbar-btn-group {

          span,
          button:hover {
            color: getColor(blue, 11);
          }
        }
      }

      &.open {
        background-color: getColor(secondary-styleguide, blue-light);

        a,
        span,
        a button {
          color: getColor(blue, 2);
        }

        a:hover button:hover {
          color: getColor(interactive, standard-link);
        }

        .mat-accent .mat-slider-track-fill,
        .mat-accent .mat-slider-thumb {
          background-color: getColor(blue, 2);
        }

      }
    }
  }

}
