button.newton-btn {
  background: transparent;
  box-shadow: none;
  font-family: "SiemensSans";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8.5px 10px 8.5px 13px;
  position: relative;
  min-height: 40px;
  min-width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  i {
    margin-right: 8px;
    &.cosmos-icon_plus {
      font-size: 15px;
    }
  }
  &.primary {
    border: 2px solid getColor(interactive, standard-link);
    background-color: getColor(interactive, standard-link);
    color: getColor(text, white);
    &:active,
    &:hover {
      background-color: getColor(interactive, hover-link);
      border-color: getColor(interactive, hover-link);
    }
  }
  &.primary-inverted {
    border: 2px solid getColor(interactive, standard-link);
    background: transparent;
    color: getColor(interactive, standard-link);
    &:active,
    &:hover {
      background: transparent;
      background-color: getColor(interactive, standard-link);
      border-color: getColor(interactive, standard-link);
      color: getColor(text, white);
    }
  }
  &.stone {
    border: 2px solid getColor(primary-styleguide, stone-light);
    background-color: getColor(primary-styleguide, stone-light);
    color: getColor(text, white);
    &:active,
    &:hover {
      background-color: getColor(text, text2);
      border-color: getColor(text, text2);
      color: getColor(text, white) !important;
    }
  }
  &.stone-inverted {
    border: 2px solid getColor(primary-styleguide, stone-light);
    color: getColor(primary-styleguide, stone-light);
    &:active,
    &:hover {
      background-color: getColor(primary-styleguide, stone-light);
      color: getColor(text, white) !important;
    }
  }
  &.yellow {
    background-color: getColor(secondary-styleguide, yellow-light);
    border: 2px solid getColor(secondary-styleguide, yellow-light);
    color: getColor(text, white);
    &:active,
    &:hover {
      background-color: getColor(secondary-styleguide, yellow-dark) !important;
      border-color: getColor(secondary-styleguide, yellow-dark) !important;
    }
  }
  &.stretch {
    justify-content: space-between;
    padding-right: 32px;
    i {
      position: absolute;
      right: 8px;
    }
  }
  &.news {
    float: right;
    .newton-arrow-right-large {
      margin-left: 30px;
      margin-right: 0px;
      font-size: 12px;
    }
  }
  &.visit-btn {
    width: 100%;
    right: 0;
    i {
      font-size: 16px;
    }
  }
  &.linkedIn {
    width: 256px;
    &.cancel {
      border: 2px solid getColor(text, white);
      background: transparent;
      color: getColor(text, white);
      &:hover {
        background-color: getColor(text, white);
        color: #283e4a;
      }
    }
  }
}
