/*
To use these colors:
background-color: getColor(interactive, standard-link);
*/

$colors:(
    primary:(

    base: #2387aa,
    accent: #3c464b,

    petrol: #009999,
    snow: #ffffff,
    stone-dark: #3c464b,
    stone-light: #879baa,
    sand-dark: #879baa,
    sand-light: #879baa,
    grey-light: #fafafa,
    teal-dark: #00646e,
    teal-light: #41aaaa,
    blue-dark: #005f87,
    blue-light: #50bed7,
    yellow-dark: #eb780a,
    yellow-light: #ffb900,
    red-dark: #641946,
    red-light: #af235f,
    green-dark: #647d2d,
    green-light: #aab414,
    warning: #D50000,
    success: #259b40,
    bg-orgmanager: #f6f7f8,
    link-active-blue: #005578,
    error-red: #dc0000,
    linkedin-blue: #0077b5
    ),
    stone:(
    0: #2d373c,
    1: #3c464b,
    2: #555f69,
    3: #697882,
    4: #788791,
    5: #879baa,
    6: #9bafbe,
    7: #adbecb,
    8: #becdd7,
    9: #cdd9e1,
    10: #dfe6ed,
    11: #ebf0f5,
    ),
    sand:(
    0: #4b3c32,
    1: #64554b,
    2: #73645a,
    3: #877d6e,
    4: #9b9682,
    5: #aaaa96,
    6: #b9b9a5,
    7: #c8c8b9,
    8: #d7d7cd,
    9: #e1e1d7,
    10: #ebebe3,
    11: #f5f5f0,
    ),
    teal:(
    0: #003c46,
    1: #004b55,
    2: #00646e,
    3: #00737d,
    4: #0f8287,
    5: #239196,
    6: #32a0a0,
    7: #41aaaa,
    8: #4bb9b9,
    9: #78cdcd,
    10: #a5e1e1,
    11: #c3f0f0,
    ),
    blue:(
    0: #003750,
    1: #004669,
    2: #00557d,
    3: #005f87,
    4: #0f789b,
    5: #2387aa,
    6: #3296b9,
    7: #41aac8,
    8: #50bed7,
    9: #7dd2e6,
    10: #aae6f5,
    11: #c8f5ff,
    ),
    yellow:(
    0: #7d2d1e,
    1: #a03c23,
    2: #b44b28,
    3: #c85a1e,
    4: #dc6914,
    5: #eb780a,
    6: #f58c14,
    7: #faa50a,
    8: #ffb900,
    9: #ffcd50,
    10: #ffe178,
    11: #fff09b,
    ),
    red:(
    0: #411432,
    1: #50143c,
    2: #641946,
    3: #781e4b,
    4: #871e50,
    5: #9b1e5a,
    6: #af235f,
    7: #c34673,
    8: #d7698c,
    9: #e687a5,
    10: #f0aac3,
    11: #f5c8dc,
    ),
    green:(
    0: #37500f,
    1: #465f19,
    2: #556e28,
    3: #647d28,
    4: #738732,
    5: #879628,
    6: #96a51e,
    7: #aab414,
    8: #bec328,
    9: #d2d741,
    10: #e6e65f,
    11: #f0f08c,
    ),
    //styleguide
    corporate:(
      siemens-petrol: #009999,
     // siemens-dynamic-petrol:
    ),
    text: (
      text1: #2d373c,
      text2: #697882,
      text3: #788791,
      white: #ffffff,
      inact: #cdd9e1
    ),
    interactive: (
      standard-link: #2387aa,
      hover-link: #005578,
      active: #dfe6ed,
      inact: #cdd9e1,
      gost-button-blue: #2387aa,
      gost-button-grey: #788791,
      default-main-conversion: #ffb900,
      hover-main-conversion: #eb780a,
      gost-button-inactive: #cdd9e1,
      error-red: #dc0000
    ),
    background: (
      standard: #ebf0f5,
      bg: #3c464b,
      bg-org-charts: #f6f7f8
    ),
   primary-styleguide:  (
      stone-dark: #3c464b,
      stone-light: #879baa,
      stone-light-35: #becdd7,
      sand-dark: #73645a,
      sand-light:#aaaa96,
      sand-light-35: #d7d7cd
    ),
    secondary-styleguide: (
      teal-dark: #00646e,
      teal-light: #41aaaa,
      red-dark: #641946,
      red-light: #af235f,
      blue-dark: #005f87,
      blue-light: #50bed7,
      green-dark: #647d2d,
      green-light: #aab414,
      yellow-dark: #eb780a,
      yellow-light: #ffb900
    )
    );
