@mixin border($color) {
  .type {
    color: $color !important;
  }
  border: 1px solid $color;
  border-radius: 12px;
}
@mixin placeholder($size) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: $size;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-size: $size;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-size: $size;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-size: $size;
  }
}
@mixin reset-button() {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
@mixin item($color) {
  @include border($color: $color);
  h4 span {
    border-bottom: 1px solid $color;
  }
  .close-icon {
    fill: $color;
  }
  .done {
    background-color: $color;
  }
  .character-counter {
    color: $color;
  }
  .mat-input-container {
      &.mat-focused {
        .mat-input-infix {
          border: 1px solid $color !important;
        }
      }
    }

  .mat-form-field-ripple {
    background-color: $color;
  }
}
@mixin centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// https://gist.github.com/richardtorres314/26b18e12958ba418bb37993fdcbfc1bd

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name}{
     @content;
   }
   @-moz-keyframes #{$name} {
      @content;
   }
   @keyframes #{$name} {
      @content;
   }
 }

@mixin snowTransition{
    0% {
        background-position: 500px 0px, -40px 0px, 0px -300px;
    }
    20%{
        background-position: 488px 200px, -44px 80px, 5px -180px;
    }
    40%{
        background-position: 482px 400px, -48px 160px, 10px -60px;
    }
    60%{
        background-position: 490px 600px, -46px 240px, 8px 60px;
    }
    80%{
        background-position: 495px 800px, -43px 320px, 4px 180px;
    }
    100%{
        background-position: 500px 1000px, -40px 400px, 0px 300px;
    }
}
