.soc-select {
  label {
    margin-bottom: 8px;
  }
  .input {
    background-color: getColor(text, white);
    white-space: nowrap;
    height: 40px;
    border: 1px solid getColor(text, inact);
    padding: 11px 13px 8px 12px;
    color: getColor(text, text1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    .placeholder {
      color: getColor(text, text3);
    }
    &.error {
      border-color: getColor(interactive, error-red) !important;
    }
    > span {
      padding-right: 8px;
    }
    .newton-arrow-down-small {
      color: getColor(text, text3);
      position: relative;
      top: -1px;
    }
    .selection {
      max-height: 256px;
      overflow-y: auto;
      display: none;
      position: absolute;
      z-index: 100;
      left: -1px;
      top: 39px;
      width: calc(100% + 1px);
      background-color: getColor(text, white);
      color: getColor(text, text1);
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: getColor(text, inact);
      > div {
        padding: 8px 15px 5px 13px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: getColor(blue, 2);
          color: getColor(text, white);
        }
      }
    }
  }
  &.active {
    .input {
      &.error {
        border-color: getColor(text, inact) !important;
      }
    }

    .selection {
      display: flex !important;
      flex-direction: column;
    }
    .newton-arrow-down-small {
      transform: rotate(180deg) !important;
      color: getColor(blue, 2) !important;
      top: -2px !important;
    }
  }
}
.selection-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  left: 0;
  top: 0;
  z-index: 99;
}

.mat-select {
  line-height: 38px;
  box-shadow: none !important;
  outline: 1px solid getColor(text, inact);
  border: 1px solid getColor(text, inact);
  background: getColor(text, white);
  padding: 0 10px;
  width: 100%;
  display: inline-table;
  font-family: "SiemensSans";
  padding-top: 2px;
  padding-left: 15px;
  box-shadow: none;

  &.notValid {
    border: 1px solid getColor(interactive, error-red);
    .mat-select-placeholder {
      color: getColor(interactive, error-red);
    }
  }

  .mat-select-placeholder {
    color: getColor(text, text3);
    font-family: "SiemensSans";
    font-weight: 400;
  }
  .mat-select-value-text {
    color: getColor(text, text1);
  }

  .proficiency {
    &:hover {
      background-color: getColor(interactive, hover-link);
      .mat-option-text {
        color: getColor(text, white);
      }
    }
  }
  .mat-option {
    .mat-option-text {
      color: getColor(text, text3);
    }
    &:hover {
      background-color: getColor(interactive, hover-link);
      .mat-option-text {
        color: getColor(text, white);
      }
    }
  }
}

.select-panel-class {
  box-shadow: none;
  .mat-option {
    &:hover {
      background-color: getColor(interactive, hover-link);
      .mat-option-text {
        color: getColor(text, white);
      }
    }
  }
}

// styleguide
.mat-select-panel {
  box-shadow: none !important;
  border: 1px solid getColor(primary-styleguide, stone-light-35);
  margin-top: 40px;
  border-radius: 0px !important;
  min-width: calc(100% + 27px) !important;
  transform-origin: 40% !important;
  transform: none !important;
}

.mat-option.mat-active {
  background-color: getColor(text, white) !important;
  color: getColor(text, text3);
}


.newton-arrow-down-small {
  color: getColor(text, text3);
  position: relative;
  top: -1px;
}

